.chart-container {
  height: 80vw;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  .chart-item {
    flex: 100%;
    width: 100%;
    height: 80%;
    margin-bottom: 15px;
  }

  h2 {
    text-align: center;
  }

  @include mq($from: md) {
    height: 50vh;
    padding: 120px 20px 20px;

    .chart-item {
      margin-bottom: 30px;
      height: 100%;
    }
  }
}
