.d3-tip {
  line-height: 1;
  background: rgba(180, 180, 180, 0.8);
  color: #fff;
  border-radius: 4px;
  font-weight: 400;
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
  transition: opacity 0.35s ease-in-out;

  &:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(180, 180, 180, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
  }
    
  /* Style northward tooltips differently */
  &.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
  }

  &-heading {
    background: $svg-hover-color;
    width: 100%;
    display: block;
    border-radius: 4px  4px 0 0 ;
    font-size: 0.7rem;
    padding: 5px 10px;
    text-transform: uppercase;
    letter-spacing: 0.03rem;
  }

  &-number {
    display: block;
    text-align: center;
    font-size: 1.2rem;
    width: 100%;
    padding: 5px;
  }
}