body {
  font-weight: 400;
  font-size: 12px;

  h2 {
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 1.1rem;
    font-weight: 400;
    opacity: 0.6;
  }

  .color-positive {
    color: $color-positive;
  }

  .color-negative {
    color: $color-negative;
  }
}
