$grid-breakpoints: (
  xs: 0px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);
$enable-flex: true;

// colors
$color-list: #364958, #3B6064, #55828B, #87BBA2, #C9E4CA;
$axis-color: #999;
$svg-hover-color: #00b8d4;
$color-positive: nth($color-list, 4);
$color-negative: #EA453F;

// fonts
$font-family-base: 'Fira Sans Extra Condensed', Futura, 'Trebuchet MS', Arial, sans-serif;

// links
$link-color: #fff;
$link-hover-color: $link-color;
$link-hover-decoration: none;

// sass-mq
$mq-breakpoints: $grid-breakpoints;
$mq-show-breakpoints: (xs, sm, md, lg, xl);
@if($production == true) {
  $mq-show-breakpoints: ();
}
